# Sentiment Analysis
In sentiment analysis, we try to build a models that detect how people feel. The application mat attempt to determining level of human emtions.

Let's begin in basic with TextBlob

In [15]:
from textblob import TextBlob 
import re

In [2]:
sentence='but you are late flight again!! Again and again! Where are the crew?'

In [3]:
blob=TextBlob(sentence)

In [5]:
blob.sentiment_assessments

Sentiment(polarity=-0.5859375, subjectivity=0.6, assessments=[(['late', '!', '!', '!'], -0.5859375, 0.6, None)])

Tweet sentiment analysis using the TextBlob

In [6]:
import pandas as pd

In [77]:
tweets=pd.read_csv("data_ch8/twitter-airline-sentiment/Tweets.csv",usecols=['text'])

In [78]:
tweets.sample(10)

                                                    text
3896   @united -LGA-ORD UA 711. Did not get agent nam...
2572   @united @danahajek : United's CEO has decided ...
6253   “@SouthwestAir: @kirkwoodtiger Hmmm... how doe...
13951          @AmericanAir yes. He's in the next flight
5203      @SouthwestAir why are you literally the worst?
4792               @SouthwestAir I am in, let's do this!
5794   @SouthwestAir Paid for in flight wifi from Aus...
7797                @JetBlue BOS to DCA 1098 at 7:16 pm.
7146   @JetBlue I have a little more time then that.....
14103  @AmericanAir @ezemanalyst why don't you tweet ...

Extract @airlines

In [79]:
tweets['at']=tweets['text'].str.extract(r'^(@\S+)' )

In [80]:
tweets.sample(5)

                                                    text              at
8539   @JetBlue I flew to San Francisco from Fort Lau...        @JetBlue
5236   @SouthwestAir, sev ppl im my office received a...  @SouthwestAir,
10013  @USAirways and no offers to provide us with a ...      @USAirways
2851             @united perfect! That works! Thank you!         @united
11819  @USAirways &amp; there are seats together, the...      @USAirways

Remove @airlines in every tweets

In [44]:
def handle(b):
    return re.sub(r'@\S+','', b)

In [81]:
tweets['text']=tweets['text'].apply(handle)

In [82]:
tweets.head()

                                                text              at
0                                        What  said.  @VirginAmerica
1   plus you've added commercials to the experien...  @VirginAmerica
2   I didn't today... Must mean I need to take an...  @VirginAmerica
3   it's really aggressive to blast obnoxious "en...  @VirginAmerica
4           and it's a really big bad thing about it  @VirginAmerica

In [67]:
def sentiment_analysis(words):
    sent=TextBlob(words)
    return sent.sentiment_assessments

In [68]:
df['sentiment_assessment']=df['text'].apply(sentiment_analysis)

In [85]:
df.iloc[5]

text                     seriously would pay $30 a flight for seats th...
at                                                         @VirginAmerica
sentiment_assessment    (-0.2083333333333333, 0.6333333333333333, [(['...
Name: 5, dtype: object

Create polarity and subjectivity columns and later concat them into new dataframe

In [92]:
def sentiment(dataframe, col):
    text_cols=dataframe[col]
    text_sentiment=text_cols.apply(TextBlob)
    sentiment_vals=[{'polarity': v.sentiment.polarity,'subjectivity':v.sentiment.subjectivity}
                    for v in text_sentiment.values]
    return pd.DataFrame(sentiment_vals)

In [93]:
sentim_df=sentiment(tweets,'text')

In [95]:
sentim_df.head()

   polarity  subjectivity
0  0.000000      0.000000
1  0.000000      0.000000
2 -0.390625      0.687500
3  0.006250      0.350000
4 -0.350000      0.383333

In [96]:
sentiment_analysis=pd.concat([tweets, sentim_df], axis=1)

In [97]:
sentiment_analysis.sample(10)

,text,at,polarity,subjectivity
5579,doesn't care nor does SNA agent Jacquie Plitt...,@SouthwestAir,-0.125000,0.722222
1822,what did you do with my seat. International ...,@united,-0.166667,0.333333
15,SFO-PDX schedule is still MIA.,@VirginAmerica,0.000000,0.000000
14168,ah if only we could get through. We've tried ...,@AmericanAir,0.000000,1.000000
3215,booked flight in sept to get best price for A...,@united,0.200000,0.600000
3839,Flew ORD to Miami and back and had great cre...,@united,0.333333,0.316667
13223,"You didn't call, did you. Try it, and then yo...",@AmericanAir,0.000000,1.000000
2342,I JUST ASKED MY BOYFRIEND TO PROM OVER THE LO...,@united,0.881470,0.250000
12569,your customer service is deplorable. I am di...,@AmericanAir,-0.800000,0.950000
8001,I'm flying your airline just out of #LGA 😷,@JetBlue,0.000000,0.000000

Polarity measures of how positive the sentiment is in a given language source. It is range (0-1). Value close to 1 reflects positive. closed to 0 is negative sentiment

Sentiment analysis is a type of text classfication. Its models usually trained using supervised datasets.

In [120]:
import pandas as pd
import re

In [99]:
pd.set_option('display.max_colwidth', 200)

Load up files

In [106]:
data_dir='data_ch8/sentiment_labelled_sentences/'
imdb_data=data_dir+ 'imdb_labelled.txt'
yelp_data=data_dir+ 'yelp_labelled.txt'
amazon_data=data_dir+ 'amazon_cells_labelled.txt'
column_names=['Review','Sentiment']

In [109]:
imdb=pd.read_table(imdb_data, names=column_names)

C:\Users\Raymond\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [110]:
imdb.head()

,Review,Sentiment
0,"A very, very, very slow-moving, aimless movie about a distressed, drifting young man.",0
1,"Not sure who was more lost - the flat characters or the audience, nearly half of whom walked out.",0
2,"Attempting artiness with black & white and clever camera angles, the movie disappointed - became even more ridiculous - as the acting was poor and the plot and lines almost non-existent.",0
3,Very little music or anything to speak of.,0
4,The best scene in the movie was when Gerardo is trying to find a song that keeps running through his head.,1

In [111]:
imdb['Sentiment'].value_counts()

1    386
0    362
Name: Sentiment, dtype: int64

In [112]:
imdb_counts=imdb.Sentiment.value_counts().to_frame()
imdb_counts.index=pd.Series(['Positive','Negative'])
imdb_counts

          Sentiment
Positive        386
Negative        362

In [113]:
yelp=pd.read_table(yelp_data, names=column_names)
amazon=pd.read_table(amazon_data, names=column_names)

C:\Users\Raymond\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.
C:\Users\Raymond\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.

In [114]:
yelp.head()

,Review,Sentiment
0,Wow... Loved this place.,1
1,Crust is not good.,0
2,Not tasty and the texture was just nasty.,0
3,Stopped by during the late May bank holiday off Rick Steve recommendation and loved it.,1
4,The selection on the menu was great and so were the prices.,1

In [115]:
amazon.head()

,Review,Sentiment
0,So there is no way for me to plug it in here in the US unless I go by a converter.,0
1,"Good case, Excellent value.",1
2,Great for the jawbone.,1
3,Tied to charger for conversations lasting more than 45 minutes.MAJOR PROBLEMS!!,0
4,The mic is great.,1

In [117]:
review_data=pd.concat([imdb,yelp,amazon])

In [119]:
review_data.sample(10)

,Review,Sentiment
613,I was amazed at the quick arrival of the two original lg cell phone batteries and and at a fraction of the price.,1
878,Does not work for listening to music with the cingular 8125.,0
496,Works as described.,1
478,"It holds a charge for a long time, is reasonably comfortable under long-wearing conditions and the quality of sound is tremendous.",1
125,Great audio!.,1
425,"Overall, I am psyched to have a phone which has all my appointments and contacts in and gets great reception.",1
591,The waitress was friendly and happy to accomodate for vegan/veggie options.,1
90,"Also, it's a real treat to see Anthony Quinn playing Crazy Horse.",1
100,"Our server was fantastic and when he found out the wife loves roasted garlic and bone marrow, he added extra to our meal and another marrow to go!",1
633,You get what you pay for I guess.,0

In [122]:
def clean_text(text):
    text=re.sub(r'[\W]+',' ', text.lower())
    text=text.replace('had t', 'had not').replace('wasn t','was not').replace('didn t','did not').replace('it s','it is')

    return text

In [131]:
review_data['Review']=review_data.Review.apply(clean_text)

In [132]:
review_data.sample(10)

,Review,Sentiment
201,food was great and so was the serivce,1
554,meredith m was better than all right,1
575,the movie in movie situations in the beginning and through the game that is played with her by the acting coach are fascinating,1
453,i even fully charged it before i went to bed and turned off blue tooth and wi fi and noticed that it only had 20 left in the morning,0
224,there s a horrible tick sound in the background on all my calls that i have never experienced before,0
395,better than you d expect,1
401,very prompt service,1
455,the chicken wings contained the driest chicken meat i have ever eaten,0
312,the food was very good,1
229,i ordered this for sony ericsson w810i but i think it only worked once thats when i first used it,0

Use Tf-idf to convert TFIDF vector

In [147]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

Train and test Logistics Reg model

In [142]:
tfidf=TfidfVectorizer(strip_accents=None, preprocessor=None, lowercase=False)
log_model=LogisticRegression(solver='lbfgs')
pipeline=Pipeline([('tfidf_vec',tfidf),('log',log_model)])

In [143]:
X,y = review_data['Review'], review_data['Sentiment']

In [145]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [146]:
pipeline.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('tfidf_vec', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=False, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=...enalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False))])

In [148]:
prediction=pipeline.predict(X_test)

In [149]:
print(classification_report(y_test, prediction))

              precision    recall  f1-score   support

           0       0.86      0.81      0.84       475
           1       0.80      0.86      0.83       432

   micro avg       0.83      0.83      0.83       907
   macro avg       0.83      0.83      0.83       907
weighted avg       0.84      0.83      0.83       907

In [150]:
print(confusion_matrix(y_test, prediction))

[[384  91]
 [ 60 372]]

RandomForest model

In [152]:
tfidf=TfidfVectorizer()
rf_model=RandomForestClassifier(n_estimators=10)
rf_pipeline=Pipeline([('tfidf_vec',tfidf),('randomforest',rf_model)])

In [153]:
rf_pipeline.fit(X_train, y_train)
rf_pred=rf_pipeline.predict(X_test)

In [154]:
print(classification_report(y_test, rf_pred))

              precision    recall  f1-score   support

           0       0.75      0.83      0.79       475
           1       0.79      0.69      0.74       432

   micro avg       0.77      0.77      0.77       907
   macro avg       0.77      0.76      0.76       907
weighted avg       0.77      0.77      0.76       907

In [155]:
print(confusion_matrix(y_test, rf_pred))

[[394  81]
 [132 300]]

AdaBoost model

In [157]:
tfidf=TfidfVectorizer()
ada_model=RandomForestClassifier(n_estimators=10)
adaboost_pipeline=Pipeline([('tfidf_vec',tfidf),('adaBoost',ada_model)])

In [158]:
adaboost_pipeline.fit(X_train, y_train)
ada_pred=adaboost_pipeline.predict(X_test)

In [159]:
print(classification_report(y_test, ada_pred))

              precision    recall  f1-score   support

           0       0.75      0.82      0.78       475
           1       0.78      0.70      0.74       432

   micro avg       0.76      0.76      0.76       907
   macro avg       0.77      0.76      0.76       907
weighted avg       0.76      0.76      0.76       907

In [161]:
print(confusion_matrix(y_test, ada_pred))

[[391  84]
 [131 301]]

In comparison with three models, logistics, randomforest and adaboost. Logistics model is better.